/_build
/deps
erl_crash.dump
*.ez
*.swp
.kateproject.d
.zedstate
.directory

# exrm stuff
/rel/sequeler/bin
/rel/files
/rel/log
/rel/sequeler/erts*
/rel/sequeler/lib/*
!/rel/sequeler/lib/sequeler*
*.tar.gz