[{sasl,[{errlog_type,error}]},
 {logger,[{console,[{level,debug},
                    {format,<<"$time $metadata[$level] $message\n">>}]}]},
 {sequeler,[{key_phrase,<<"testingphrasesforencryption">>},
            {iv_phrase,<<"testingphrasesforencryption">>},
            {db_opts,[{size,50},
                      {user,"testuser"},
                      {password,"testpassword"},
                      {database,"testdb"},
                      {encoding,utf8}]}]}].
